*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.search {
    width: 343px;
    height: 58px;
    background-color: white;
    border-radius: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search > div > img {
    width: 43px;
    height: 43px;
    margin: 0 15px 0 0;
}

.left-side > svg {
    margin: 0 25px 0 25px;
}

.menu > path {
    fill: white;
}

.content{
    background-color: white;
    height: calc(100vh - 85px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side{
    display: flex;
    align-items: center;
}  

.product {
    display: flex
}

.product-details {
    width: 400px;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.product-details > h2 {
    font-size: 40px;
    color: #47525E;
    margin: 0 0 18px 0;
}

.product-details > p:nth-child(2){
    font-size: 28px;
    color: #47525E;
    margin: 0 0 28px 0;
}

.product-details > button:last-child{
    width: 193px;
    height: 50px;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    color: white;
    background-color: #13CE66;
}

.product-details > p:nth-child(3){
    font-size: 24px;
    color: #47525E;
    margin: 0 0 10px 0;
}

.sizes {
    display: flex;
    width: auto;
    border-radius: 4px;
    border: 1px solid #47525E;
    margin: 0 0 50px 0;
    width: 160px;
}

.sizes > div {
    width: 52px;
    height: 20px;
    border: 1px solid #47525E;
    text-align: center;
}

.product-details > p:nth-child(5){
    font-size: 18px;
    color: #47525E;
    margin: 0 0 36px 0;
}


.left-arrow {
    width: 100px;
    height: 100px;
}

div > img {
    width: 458px;
    height: 416px;
}

.top-bar{
    width: 100%;
    height: 85px;
    justify-content: space-between;
    background-color: #13CE66;
    display: flex;
    align-items: center;
}